.App {
  background:linear-gradient(#295cd3, #21b4dd, #31b8a0);
  width: 100% !important;
  height: 100vh !important;
  padding: 10px;
 

}
.App-header {
  padding: 20px;
  border-radius: 8px;
  width: 33%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.output {
  padding: 20px;
}
.output-2 {
  padding: 20px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo{
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width:750px) {
  .App {
    background:linear-gradient(#295cd3, #21b4dd, #31b8a0);
    width: 100% !important;
    height:fit-content !important;
    padding: 10px;
   
  
  }
  .App-header {
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .output {
    padding: 30px;
  }
  .output-2 {
    padding: 3px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
  }
  @media (prefers-reduced-motion: no-preference) {
    .react-logo{
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
}